html{
  min-height: 100%:;
}
/*---------- Body ------------------*/
*{
  /*border: 1px solid red;*/
  box-sizing: border-box;
}


body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  height: 100vh;
}
main{
  display:flex;
}

p,
h2,
h3,
h4{
  margin: 0;
}
/*---------- Header ----------------*/
header{
  background-color:#404041;
  color:#dd1972;
  padding: 10px;
}

h1{
  font-weight:800;
  text-align: center;
  margin: 0;
}

h1 span{
  font-weight:400;
}

.sub{
  color:#ffffff;
  text-align:center;
  margin: 0;
  font-size: .8em;
}

/*---------- Aritcle ---------------*/
article{
  background-color:#f7f7f7;
  color:#404041;
  display:inline-block;
  width:50%;
  border-right: 1px solid darkgray;
  height: 100vh;
}

button{
  background-color:#6e6e6e;
  border-radius:50px;
  color:#ffffff;
  min-height: 25px;
  width: 120px;
  text-transform: uppercase;
  font-weight: 700;
}

label{
  display:block;
  font-size:.8em;
}

input{
  padding:5px; 
  border: 1px solid lightgrey;
}

form{
  background-color:#ffffff;
  border:1px solid #d0d2d3;
  margin:10px 20px;
  padding: 10px;
  max-width: 400px;
  margin-left: auto;
}

.range-flex{
  display: flex;
}

.input-range{
  width: 80%
}

#btn-update{
  height: 20px;
  align-self: flex-end;
}

#range-min,
#range-max{
  font-weight:700;
  text-decoration:underline;
}
.form-challenger-input-wrapper{
  display: flex;

}

/*.name-input-wrapper{
  display:inline-block;
}*/

.guess-input-wrapper{
/*  display: inline-block;*/
  margin-left: 10px;
}

.name-input-challengers{
/*  width: 220px;*/
}
.guesses-challenger{
/*  width: 145px;*/
}

.btn-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.latest-score{
  background-color:#ffffff;
  margin: 10px 20px;
  border: 1px solid #d0d2d3;
  padding: 10px;
  max-width: 400px;
  margin-left: auto;
}

.guesses-challenger-flex{
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
}

.latest-guess-challenger1{
  border-right: 1px solid lightgrey;
  padding-right: 5%;
}

.guess-current-style{
  font-weight:300;
}

#guess-output-challenger1,
#guess-output-challenger2{
  color:#DD1972;
  font-size:2em;
  font-weight:800;
}

#guess-output-high-low1,
#guess-output-high-low2{
  font-size:1.2em;
}

.error{
  border:2px solid pink;
  outline: none;
}

/*---------- Aside -----------------*/
aside{
  background-color:#d0d2d3;
  color:#404041;
  display:flex;
  flex-direction:column;
  width:50%;

}
hr{
  margin: 0 10px;
}

.card-winner{
  background-color: #ffffff;
  margin:10px 20px;
  border: 1px solid #6e6e6e;
  padding: 10px;
  max-width: 400px;
}

.winner{
  text-transform: uppercase;
}

.versus-challenger{
  display:flex;
  justify-content:space-around;
  align-items:baseline;
  margin-bottom:5px;
}

.card-output-ch1,
.card-output-ch2{
  font-weight: 700;
  text-transform:uppercase;
  font-size: .8em;
}

.vs-style {
  font-weight:300;
  font-size:.8em;
}

.card-output-results{
  text-align:center;

}

.card-style-winner{
  text-transform:uppercase;
  font-size:1.5em;
}

.fa-times-circle{
  width: 16px;
}

.card-bottom-wrapper{
  display:flex;
  justify-content:space-between;
  margin: 0px 15px;
  align-items: baseline;
}

.hidden{
  visibility: none;
}

/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px){

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
