html{
  min-height: 100%;
  background-color:#f7f7f7;
}
/*---------- Body ------------------*/
*{
  box-sizing: border-box;
}


body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  height: 100vh;
}

main{
  display:flex;
  height: 100%;
}

p,
h2,
h3,
h4{
  margin: 0;
}

img{
  width:10px;
}

/*---------- Header ----------------*/
header{
  background-color:#404041;
  color:#dd1972;
  padding: 10px;
}

h1{
  font-weight:800;
  text-align: center;
  margin: 0;
}

h1 span{
  font-weight:300;
}

.tagline{
  color:#ffffff;
  text-align:center;
  margin: 0;
  font-size: .8em;
}

/*---------- Aritcle ---------------*/
article{
  background-color:#f7f7f7;
  color:#404041;
  display:inline-block;
  width:50%;
  border-right: 1px solid darkgray;
  height: 100vh;
}

button{
  background-color:#6e6e6e;
  border-radius:50px;
  color:#ffffff;
  min-height: 25px;
  width: 120px;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  border: 0;
}

label{
  display:block;
  font-size:.8em;
}

input{
  padding:5px; 
  border: 1px solid lightgrey;
  margin-right: 10px;
}

form{
  background-color:#ffffff;
  border:1px solid #d0d2d3;
  margin:10px 20px;
  padding: 10px;
  max-width: 500px;
  margin-left: auto;
}

:disabled{
 background-color: lightgrey;
}

.range-flex{
  display: flex;
}
.input-range-wrapper{
  flex: 
}

.input-range{
  width: 80%
}

#btn-update{
  height: 20px;
  align-self: flex-end;
  margin-left: auto;
}

#range-min,
#range-max{
  font-weight:700;
  text-decoration:underline;
}
.form-challenger-input-wrapper{
  display: flex;
}

.name-input-wrapper{
  width: 100%;
}

.guess-input-wrapper{
/*  display: inline-block;*/
  width: 50%;
}

.name-input-challengers{
 width: 95%;
}

.guesses-challenger{
  width: 100%;
}

.hidden-error{
  color: #DD1972;
  font-weight: 300;
  display: none;
}

.btn-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.latest-score{
  background-color:#ffffff;
  margin: 10px 20px;
  border: 1px solid #d0d2d3;
  padding: 10px;
  max-width: 500px;
  margin-left: auto;
}

.guesses-challenger-flex{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.guess-current-style{
  font-weight:300;
}

#guess-output-challenger1,
#guess-output-challenger2{
  color:#DD1972;
  font-size:2em;
  font-weight:800;
}

#guess-output-high-low1,
#guess-output-high-low2{
  font-size:1.2em;
}

.middle-line{
  border: 1px solid lightgray;
  height: auto;
  margin-top: -20px;
}

.error{
  border:2px solid #DD1972;
  outline: none;
}

/*---------- Aside -----------------*/
aside{
  background-color:#d0d2d3;
  color:#404041;
  display:flex;
  flex-direction:column;
  width:50%;
}

hr{
  margin: 0 10px;
}

.card-winner{
  background-color: #ffffff;
  margin:10px 20px;
  border: 1px solid #6e6e6e;
  padding: 10px;
  max-width: 500px;
  text-transform: uppercase;
}

.versus-challenger{
  display:flex;
  justify-content:space-around;
  align-items:baseline;  
  margin-bottom:5px;
}

.card-output-ch1,
.card-output-ch2{
  font-weight: 700;
  font-size: .8em;
}

.vs-style {
  font-weight:300;
  font-size:.8em;
}

.card-output-results{
  text-align:center;
}

.card-style-winner{
  font-size:1.5em;
}

.fa-times-circle{
  width: 16px;
}

.card-bottom-wrapper{
  display:flex;
  justify-content:space-between;
  margin: 0px 15px;
  align-items: baseline;
}

.card-num-guess,
.card-min{
  font-weight: 700;
}

/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
/*@media screen and (max-width: 1024px){

}*/

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 820px){
  .range-flex{
    display: block;
  }
  
  .input-range{
    width: 100%;
  }

  button{
    margin-top: 10px;
    width: 100%
  }

  .btn-wrapper{
    flex-direction: column;
  }

  .latest-guess-challenger1,
  .latest-guess-challenger2{
    padding: 5px;
  }

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 600px){
  main{
    display: block;
    height: 100vh;
  }
  
  article{
    width: 100%;
    padding: 0 10px;
    height: auto;
  }
  
  form{
    margin: 10px auto;
  }

  .latest-score{
    margin: 10px auto;
  }

  .guesses-challenger-flex{
    flex-direction: column;
  }

  .middle-line{
  display: none;
  }

  .latest-guess-challenger1{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
  }

  #guess-output-high-low2,
  #guess-output-high-low1{
    margin-bottom: 10px;
  }

  aside{
    width: 100%;
    display: block;
    min-height: -webkit-fill-available;
    padding: 10px;
  }


}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
